<f:layout name="Default" />
<f:section name="Main">
    <!-- google tag manager -->
    <f:render partial="GoogleTagManager" />

    <!--Header-->
    <f:render partial="Structure/Header" arguments="{_all}" />
    <main>
        <!--Main section-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
            
        <!--Footer Section-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
    </main>

    <!--Footer-->
    <f:render partial="Structure/Footer" arguments="{_all}" />

    
</f:section>
